@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:cornflowerblue;
}
li, a, button{
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    font-size: 500;
    font-weight: 20px;
    color:black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 40px 15%;
    background-color: orange;
    color: green;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav_links{
    list-style: none;
    background-color: orange;
}
.nav_links li{
    display: inline-block;
    padding:0px 30px
    
}
.nav_links li a{
    transition: all 0.4s ease 0s;
    background-color: orange;
}
.nav_links li a:hover{
    color: grey;
    background-color: orange;
}
button{
    padding:10px 30px ;
    background-color:ghostwhite;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
button:hower{
    background-color: blue;
}

